<html lang="en">
  <head>
    <link href="/css/stylesheet.css" type="text/css" rel="stylesheet"/>
    <title>Game of Life</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <%#= check_pause %>
    <script>
      $(document).ready(function() {
        function loadNext() {
          var hidden = $("#hidden").text();
          if (hidden !== "pause") {
            $('#container').load('/window/<%=@id%>?randval='+ Math.random(), function() {            
                setTimeout(loadNext, 100);
            });
          }
        }
        loadNext();
      });
    </script>
  </head>
  <body style="background-color: black">

      <h3 style="position: absolute; right: 140px; top: 35px; opacity: 0.4">Player 1</h3>
      <div class="cell_key_red" style="position: absolute; right: 70px; top: 45px; opacity: 0.4"></div>
      <h3 style="position: absolute; right: 140px; top: 80px; opacity: 0.4">Player 2</h3>
      <div class="cell_key_blue" style="position: absolute; right: 70px; top: 90px; opacity: 0.4"></div>

    <div id="container">
    	<h4 style="position: absolute; left: 20px; top: 40px">Generation: <%=@world.tick_count%></h4>
      <%=@game_over%>
    	<div id="container">
    	<%@graph.each do |x|%>
    		<br>
    		<%x.each do |cell|%>
    			<div class="cell" style="<%=color_cell(cell)%>;"></div>
    		<%end%>
    	<%end%>
    	</div>
      <div id="hidden"><%= @pause %></div>
    </div>
  </body>
</html>

