

<html lang="en">
  <head>
    <link href="css/stylesheet.css" type="text/css" rel="stylesheet"/>
    <%=@pause ? " " : '<meta http-equiv="refresh" content="0.1" >'%>
    <title>Game of Life</title>
  </head>
  <body>

  	<a href="/start" style="position: absolute"><h4>Home</h4></a>
    <br>
  	<h4 style="position: absolute">Tick Count: <%=@world.tick_count%></h4>

  	<div id="container">
  	<%@graph.each do |x|%>
  		<br>
  		<%x.each do |cell|%>
  			<div class="cell" style="<%=color_cell(cell)%>"></div>
  		<%end%>
  	<%end%>
  	</div>
  </body>
</html>

<!-- style="width: <%=(@world.size_y*20)+250%>; height: <%=(@world.size_x*20)+150%>" -->