

<html lang="en">
	<head>
		<link href="css/stylesheet.css" type="text/css" rel="stylesheet"/>
		<title>Game of Life</title>
	</head>
	<body>
	<div id="container">
		<form action="/play" method="POST">
			<br>
			<h1>You're friend has given you this link to play the Game of Life (multiplayer version) with you! That's right. Get excited.</h1>

			<h3> You're friend chose to play as <%=@existing_player%>. You will play as <%=@new_player%></h3>

			<label for="player">Play as Player 1 (Red) or Player 2 (Blue)</label>
				<br>
				<input id="player" type="radio" name="player" value="1" <%=disable_radio?(@existing_player, "1")%> >Player 1 (Red)</input> 
				<br>
				<input id="player" type="radio" name="player" value="2" <%=disable_radio?(@existing_player, "2")%> >Player 2 (Blue)</input>
				<br>

			<label for="graph_point">Pick cells on the graph that you would like to have come to life on your team</label>
				<% i = 0 %>
				<%@graph.each do |x|%>
					<br>
					<%x.each do |cell|%>
						<input type="checkbox" name="grid_<%=i%>" value="<%=[cell.x, cell.y]%>" id="graph_point">
						<%i += 1%>
					<%end%>
				<%end%>
				<br>
			<input type="hidden" name="id" value="<%=@id%>">
			<input type="submit" value="Submit"></input>
		<form/>
		</div>
	</body>
</html>